@import url('./top-bar.css');
@import url('./nav-menu.css');
@import url('./search-bar.css');
@import url('./cart-button.css');
@import url('../shared/hidden.css');
@import url('./burger.css');

.header-main {
  height: 80px;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: max-content;
  grid-template-areas: 'nav nav nav';
  align-content: center;
  position: relative;
}

.header-main nav {
  grid-area: nav;
  align-self: center;
  justify-self: center;
  position: absolute;
}

.header-actions {
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
}

.header-actions__search-bar {
  max-width: 170px;
}

.header-logo {
  display: flex;
  object-fit: contain;
}

@media (max-width: 1601px) {
  .search-bar {
    padding: 0;
    border: none;
  }

  .search-bar .search-bar__submit {
    background: var(--bg-accent);
    padding: 0;
  }

  .search-bar .search-bar__submit img {
    filter: invert();
  }

  .search-bar .search-bar__input {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav-menu {
    gap: 50px;
  }
  .header-logo {
    height: 36px;
  }
  .cart-button__text {
    display: none;
  }
}

@media (max-width: 771px) {
  .cart-button,
  .header-actions__search-bar,
  .nav-menu,
  .top-bar {
    display: none;
  }

  .burger {
    display: block;
  }
  .header-main {
    height: 60px;
  }
}
@media (max-width: 426px) {
  .header-main {
    height: 56px;
  }
}
